<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <style>
    body {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  </style>
</head>
<body>
  <h2>Sign Up: </h2>
  <form method="post" action="/user">
    <label>Full Name:</label>
    <input type="text" name="name" placeholder="Enter Name Here.." required><br>
    <label>Email:</label>
    <input type="text" name="email" placeholder="xyz123@gmail.com" required><br>
    <label>PassWord:</label>
    <input type="text" name="password" required><br>

    <button type="submit">SignUp</button>
  </form>
</body>
</html>